.main-content {
  height: 100vh;
  display: flex;
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
}

.notes-section {
  background-color: hsl(210 79% 46% / 0.04);
  flex-basis: 50%;
  overflow-y: scroll;
}
